# python
__pycache__/
.coverage
.DS_Store
.venv/
.vscode/
.pytest_cache/
coverage_report/

#project
cache/
cacheReal/
data/
dataReal/

download.sh
requirements-all.txt
secrets.toml
src/reports/99_Playground.py
